/*
* Label padrao
*/
.label-default {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
	font-family: Arial;
	font-size: 14px;
	line-height: 1.42857;
	font-weight: normal;
	margin-right: 5px;
}

/*
* Label do header das tabelas
*/
.label-grid-header {
	color: #FFFFFF;
	text-decoration: none;
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
	font-family: Arial;
	font-size: 14px;
	line-height: 1.42857;
	font-weight: bold;
}

/*
* Label do titulo das paginas
*/
.label-page-title {
	color: #428BCA;
	text-decoration: none;
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
	font-family: Arial;
	font-size: 16px;
	line-height: 1.42857;
	font-weight: bold;
}

/*
* Texto padrao
*/
.output-default {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
	font-family: Arial;
	font-size: 14px;
	line-height: 1.42857;
	font-weight: normal;
}

/*
* Texto reduzido
*/
.output-small {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
	font-family: Arial;
	font-size: 10px;
	line-height: 1.42857;
	font-weight: normal;
}

/*
* Label reduzido
*/
.label-small {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
	font-family: Arial;
	font-size: 10px;
	line-height: 1.42857;
	font-weight: normal;
	margin-right: 5px;
}

/*
* Separador de duas datas em uma mesma linha
*/
.pipe-separator {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
	font-family: Arial;
	font-size: 10px;
	line-height: 1.42857;
	font-weight: normal;
	margin-right: 5px;
	margin-left: 5px;
}

/*
* Icone da barra lateral direita.
*/
.right-sidebar-icon {
	margin: 5px;
}

/*
* Icone da barra lateral esquerda.
*/
.left-sidebar-icon {
	margin: 2px;
}

.inside-grid-icon {
	margin: 0 auto;
	float: right;
	color: #428BCA;
}

.inside-grid-icon-left {
	margin: 5px;
	float: left;
	color: #428BCA;
}


.text-area {
	width: 100% !important;
	min-height: 60px !important;
}

.button {
	margin: 5px;
	float: right;
	color: #428BCA;
}

.row {
	margin-right: auto;
	margin-left: auto;
}

.navbar-default .navbar-brand {
    color: #fff;
}

.navbar-default {
    background-color: #428bca;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
}

.navbar-toggle {
    background-color: #fff;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #428bca;
}

.ui-growl {
	padding-top: 55px;
	padding-right: 5px;
}

.div-center {
	float:left;
}

.div-right {
	position: fixed;
}